.form-container {
    width: 550px;
    background-color: #4b0082;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    color: white;
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
}

.form-group select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    background-color: #fff;
    color: #4b0082;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.submit-btn {
    background-color: #fff;
    color: #4b0082;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.submit-btn:hover {
    opacity: 0.8;
}
